################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADM/.vs/ADM
/.vs
/ADM/RManjusha.RestServices/.azure
/ADM/RManjusha.RestServices/Logs
/ADM/RManjusha.RestServices/obj
/ADM/RManjusha.RestServices/Upload
/ADM/RManjusha.RestServices/bin
/API
/ADM/RManjusha.RestServices/Properties/PublishProfiles
/ADM/RManjusha.RestAPi/obj
